body {
  background-color: black;
  color: white;
}

.titleOnePart1 {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 900;

  background: linear-gradient(
    to right,
    #ff2a2a,
    #ff7a00,
    #ffea00,
    #05ff00,
    #0051ff,
    #9a00ff,
    #ff2a2a
  );
  background-size: 200% auto;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  animation: shift-rainbow 1.8s linear infinite;
}

@keyframes shift-rainbow {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.passwordGenerator {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    aqua,
    violet
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

#outputField {
  text-align: center;
}

.output {
  text-align: center;
}

.copyButton {
  margin-top: 8px;
}

.generateButton {
  margin-top: 15px;
  margin-bottom: 15px;
}

#optionsContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 15px;
  column-gap: 105px;
  font-size: 15px;
}

.optionsText {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 100px;
}

.optionsInputs {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: aqua;
}

.titleTwoPart1 {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 900;

  background: linear-gradient(
    to right,
    #ff2a2a,
    #ff7a00,
    #ffea00,
    #05ff00,
    #0051ff,
    #9a00ff,
    #ff2a2a
  );
  background-size: 200% auto;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  animation: shift-rainbow 1.8s linear infinite;
}

#outputField2 {
  text-align: center;
}

.output2 {
  text-align: center;
}

.copyButton2 {
  margin-top: 8px;
}

.generateButton2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#optionsContainer2 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 15px;
  column-gap: 105px;
  font-size: 15px;
}
